html {
  font-size: 62.5%;
}

body {
  background: white;
  font-family: Helvetica, Aria, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}

.navitem-active {
  font-weight: bold;
}